
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="ibox widget-stat">
            <div class="ibox-body">
                <h1>
                    <i class="ti-user"></i>
                </h1>
                <h2 class="mb-3 text-dark">BIENVENIDO AL SISTEMA</h2>
                @if (Session[WebEventos.Util.Constantes.UsuarioSession] != null)
                {
                    WebEventos.SRefUsuario.Usuario usLogeado = (WebEventos.SRefUsuario.Usuario)Session[WebEventos.Util.Constantes.UsuarioSession];
                    <h4 class="mb-1 text-info uppercase">@usLogeado.Nombres @usLogeado.Apellidos</h4>
                    <div class="text-secondary">@usLogeado.Email</div>
                }
            </div>
        </div>
    </div>
</div>
