<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuditoria_Paticipante_por_UsuarioService" />
                <binding name="BasicHttpBinding_IUsuarioService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4356/Auditoria_Paticipante_por_UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditoria_Paticipante_por_UsuarioService"
                contract="Auditoria_Paticipante_por_UsuarioService.IAuditoria_Paticipante_por_UsuarioService"
                name="BasicHttpBinding_IAuditoria_Paticipante_por_UsuarioService" />
            <endpoint address="http://localhost:4356/UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="UsuarioService.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
        </client>
    </system.serviceModel>
</configuration>