@model WebEventos.SRefAreaTematica.AreaTematica

@{
ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">
                    Eliminar Area Tematica
                </div>
            </div>
            <div class="ibox-body">
                <h4>¿Estás seguro que quieres eliminar este registro?</h4>
                <br/>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Codigo</label>
                    <div class="col-sm-9">
                        : @Html.DisplayFor(model => model.CodAreaTematica)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Area Tematica</label>
                    <div class="col-sm-9">
                        : @Html.DisplayFor(model => model.NombreAreaTematica)
                    </div>
                </div>

                <hr />
                <div>
                    @using (Html.BeginForm())
                    {
                    @Html.AntiForgeryToken()

                    <div class="d-flex justify-content-between">
                        @Html.ActionLink(" ", "Index",null,new { @class = "btn btn-info fa fa-reply" })
                        <button type="submit" class="btn btn-danger" >
                            <i class="fa fa-trash"></i>
                            Eliminar
                        </button>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>